.grid-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 10px;

  }
  
  .grid-item {
    background-color: #8fbb92;
    padding: 50px;
    text-align: center;
  }
